Read the following data set:
https://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.data
Task:
1. Create an sqlalchemy engine using a sample from the data set
2. Write two basic update queries
3. Write two delete queries
4. Write two filter queries
5. Write two function queries

In [1]:
from sqlalchemy import create_engine
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import Column, Integer, String
from sqlalchemy.orm import sessionmaker
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import func
from sqlalchemy import text

# 1.Create an sqlalchemy engine using a sample from the data set

In [2]:
Base = declarative_base()
engine = create_engine('sqlite:///:memory:', echo=True)

In [3]:
class Adult(Base):
...     __tablename__ = 'Adult'
...
...     id = Column(Integer, primary_key=True)
...     age = Column(Integer)
...     workclass = Column(String)
...     fnlwgt = Column(String)
...     education = Column(String)
...     education_num = Column(String)
...     marital_status = Column(String)
...     occupation = Column(String)
...     relationship = Column(String)
...     race = Column(String)
...     sex = Column(String)
...     capital_gain = Column(Integer)
...     capital_loss = Column(Integer)
...     hours_per_week = Column(Integer)
...     native_country = Column(String)
...     income = Column(String)
...
...     def __repr__(self):
...         return "<Adult(age='%d', workclass='%s', fnlwgt='%s, education='%s', education_num='%s', marital_status='%s', occupation='%s', relationship='%s' race='%s', sex='%s', capital_gain='%d', capital_loss='%d', hours_per_week='%d', native_country='%s', income='%s')>" % (
...         self.age, self.workclass, self.fnlwgt, self.education, self.education_num, self.marital_status, self.occupation, self.relationship, self.race, self.sex, self.capital_gain, self.capital_loss, self.hours_per_week, self.native_country, self.income)

In [4]:
# Dipslay the Columns of Adult table
Adult.__table__

Table('Adult', MetaData(bind=None), Column('id', Integer(), table=<Adult>, primary_key=True, nullable=False), Column('age', Integer(), table=<Adult>), Column('workclass', String(), table=<Adult>), Column('fnlwgt', String(), table=<Adult>), Column('education', String(), table=<Adult>), Column('education_num', String(), table=<Adult>), Column('marital_status', String(), table=<Adult>), Column('occupation', String(), table=<Adult>), Column('relationship', String(), table=<Adult>), Column('race', String(), table=<Adult>), Column('sex', String(), table=<Adult>), Column('capital_gain', Integer(), table=<Adult>), Column('capital_loss', Integer(), table=<Adult>), Column('hours_per_week', Integer(), table=<Adult>), Column('native_country', String(), table=<Adult>), Column('income', String(), table=<Adult>), schema=None)

In [5]:
# Create Adult table
Base.metadata.create_all(engine)

2018-08-18 16:24:27,935 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2018-08-18 16:24:27,937 INFO sqlalchemy.engine.base.Engine ()
2018-08-18 16:24:27,940 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2018-08-18 16:24:27,941 INFO sqlalchemy.engine.base.Engine ()
2018-08-18 16:24:27,944 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("Adult")
2018-08-18 16:24:27,945 INFO sqlalchemy.engine.base.Engine ()
2018-08-18 16:24:27,951 INFO sqlalchemy.engine.base.Engine
CREATE TABLE "Adult" (
	id INTEGER NOT NULL,
	age INTEGER,
	workclass VARCHAR,
	fnlwgt VARCHAR,
	education VARCHAR,
	education_num VARCHAR,
	marital_status VARCHAR,
	occupation VARCHAR,
	relationship VARCHAR,
	race VARCHAR,
	sex VARCHAR,
	capital_gain INTEGER,
	capital_loss INTEGER,
	hours_per_week INTEGER,
	native_country VARCHAR,
	income VARCHAR,
	PRIMARY KEY (id)
)


2018-08-18 16:24:27,952 INFO sqlalchemy.engine.base.Engine ()
2018-08-18 16:24:27,956 INFO sqlalchemy.engine.base.Engine COMMIT

In [6]:

Session = sessionmaker(bind=engine)
session = Session()

# Add five records from the sample provided
session.add_all([Adult(age='39', workclass='State-gov', fnlwgt='77516', education='Bachelors', education_num='13', relationship='Never-married', occupation='Adm-clerical', marital_status='Not-in-family',race='White', sex='Male', capital_gain='2174', capital_loss='0', hours_per_week='40', native_country='United-States', income='<=50K'),
                 Adult(age=50, workclass='Self-emp-not-inc', fnlwgt='83311', education='Bachelors', education_num='13', relationship='Married-civ-spouse', occupation='Exec-managerial', marital_status='Husband',  race='White', sex='Male', capital_gain=0, capital_loss=0, hours_per_week=23, native_country='United-States', income='<=50K'),
                 Adult(age=53, workclass='Private', fnlwgt='234721', education='11th', education_num='7', relationship='Divorced', occupation='Handlers-cleaners', marital_status='Not-in-family', race='Black', sex='Male', capital_gain=0, capital_loss=0, hours_per_week=40, native_country='United-States', income='<=50K'),
                 Adult(age=52, workclass='Self-emp-not-inc', fnlwgt='209642', education='HS-grad', education_num='9', relationship='Married-civ-spouse', occupation='Exec-managerial', marital_status='Husband',  race='White', sex='Male', capital_gain=0, capital_loss=0, hours_per_week=45, native_country='United-States', income='>50K'),
                 Adult(age=23, workclass='Private', fnlwgt='122272', education='Bachelors', education_num='13', relationship='Never-married', occupation='Adm-clerical', marital_status='Own-child',  race='White', sex='Female', capital_gain=0, capital_loss=0, hours_per_week=30, native_country='United-States', income='<=50K')
                ])

# Commit the inserted records
session.commit()

2018-08-18 16:24:28,857 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-08-18 16:24:28,861 INFO sqlalchemy.engine.base.Engine INSERT INTO "Adult" (age, workclass, fnlwgt, education, education_num, marital_status, occupation, relationship, race, sex, capital_gain, capital_loss, hours_per_week, native_country, income) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
2018-08-18 16:24:28,864 INFO sqlalchemy.engine.base.Engine ('39', 'State-gov', '77516', 'Bachelors', '13', 'Not-in-family', 'Adm-clerical', 'Never-married', 'White', 'Male', '2174', '0', '40', 'United-States', '<=50K')
2018-08-18 16:24:28,867 INFO sqlalchemy.engine.base.Engine INSERT INTO "Adult" (age, workclass, fnlwgt, education, education_num, marital_status, occupation, relationship, race, sex, capital_gain, capital_loss, hours_per_week, native_country, income) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
2018-08-18 16:24:28,873 INFO sqlalchemy.engine.base.Engine (50, 'Self-emp-not-inc', '83311', 'Bachelors', '13', 'Husband', 'Exec-managerial', 'Married-civ-spouse', 'White', 'Male', 0, 0, 23, 'United-States', '<=50K')
2018-08-18 16:24:28,876 INFO sqlalchemy.engine.base.Engine INSERT INTO "Adult" (age, workclass, fnlwgt, education, education_num, marital_status, occupation, relationship, race, sex, capital_gain, capital_loss, hours_per_week, native_country, income) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
2018-08-18 16:24:28,877 INFO sqlalchemy.engine.base.Engine (53, 'Private', '234721', '11th', '7', 'Not-in-family', 'Handlers-cleaners', 'Divorced', 'Black', 'Male', 0, 0, 40, 'United-States', '<=50K')
2018-08-18 16:24:28,880 INFO sqlalchemy.engine.base.Engine INSERT INTO "Adult" (age, workclass, fnlwgt, education, education_num, marital_status, occupation, relationship, race, sex, capital_gain, capital_loss, hours_per_week, native_country, income) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
2018-08-18 16:24:28,883 INFO sqlalchemy.engine.base.Engine (52, 'Self-emp-not-inc', '209642', 'HS-grad', '9', 'Husband', 'Exec-managerial', 'Married-civ-spouse', 'White', 'Male', 0, 0, 45, 'United-States', '>50K')
2018-08-18 16:24:28,885 INFO sqlalchemy.engine.base.Engine INSERT INTO "Adult" (age, workclass, fnlwgt, education, education_num, marital_status, occupation, relationship, race, sex, capital_gain, capital_loss, hours_per_week, native_country, income) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
2018-08-18 16:24:28,887 INFO sqlalchemy.engine.base.Engine (23, 'Private', '122272', 'Bachelors', '13', 'Own-child', 'Adm-clerical', 'Never-married', 'White', 'Female', 0, 0, 30, 'United-States', '<=50K')
2018-08-18 16:24:28,891 INFO sqlalchemy.engine.base.Engine COMMIT

# 2 Write two filter queries

In [7]:
# Filter query for adult whose income is greater than 50k

person_with_income_greater_50k = session.query(Adult).filter_by(income='>50K').one()
print(person_with_income_greater_50k)

2018-08-18 16:24:30,476 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-08-18 16:24:30,481 INFO sqlalchemy.engine.base.Engine SELECT "Adult".id AS "Adult_id", "Adult".age AS "Adult_age", "Adult".workclass AS "Adult_workclass", "Adult".fnlwgt AS "Adult_fnlwgt", "Adult".education AS "Adult_education", "Adult".education_num AS "Adult_education_num", "Adult".marital_status AS "Adult_marital_status", "Adult".occupation AS "Adult_occupation", "Adult".relationship AS "Adult_relationship", "Adult".race AS "Adult_race", "Adult".sex AS "Adult_sex", "Adult".capital_gain AS "Adult_capital_gain", "Adult".capital_loss AS "Adult_capital_loss", "Adult".hours_per_week AS "Adult_hours_per_week", "Adult".native_country AS "Adult_native_country", "Adult".income AS "Adult_income"
FROM "Adult"
WHERE "Adult".income = ?
2018-08-18 16:24:30,482 INFO sqlalchemy.engine.base.Engine ('>50K',)
<Adult(age='52', workclass='Self-emp-not-inc', fnlwgt='209642, education='HS-grad', education_num='9', marital_status='Husband', occupation='Exec-managerial', relationship='Married-civ-spouse' race='White', sex='Male', capital_gain='0', capital_loss='0', hours_per_week='45', native_country='United-States', income='>50K')>

In [8]:
person_with_fnlwgt_83311=session.query(Adult).filter_by(fnlwgt='83311').one()
print(person_with_fnlwgt_83311)

2018-08-18 16:24:31,304 INFO sqlalchemy.engine.base.Engine SELECT "Adult".id AS "Adult_id", "Adult".age AS "Adult_age", "Adult".workclass AS "Adult_workclass", "Adult".fnlwgt AS "Adult_fnlwgt", "Adult".education AS "Adult_education", "Adult".education_num AS "Adult_education_num", "Adult".marital_status AS "Adult_marital_status", "Adult".occupation AS "Adult_occupation", "Adult".relationship AS "Adult_relationship", "Adult".race AS "Adult_race", "Adult".sex AS "Adult_sex", "Adult".capital_gain AS "Adult_capital_gain", "Adult".capital_loss AS "Adult_capital_loss", "Adult".hours_per_week AS "Adult_hours_per_week", "Adult".native_country AS "Adult_native_country", "Adult".income AS "Adult_income"
FROM "Adult"
WHERE "Adult".fnlwgt = ?
2018-08-18 16:24:31,306 INFO sqlalchemy.engine.base.Engine ('83311',)
<Adult(age='50', workclass='Self-emp-not-inc', fnlwgt='83311, education='Bachelors', education_num='13', marital_status='Husband', occupation='Exec-managerial', relationship='Married-civ-spouse' race='White', sex='Male', capital_gain='0', capital_loss='0', hours_per_week='23', native_country='United-States', income='<=50K')>

# 3.Write two basic update queries

In [9]:
person_with_income_greater_50k.capital_gain=200

person_with_fnlwgt_83311.hours_per_week=50

# Commit the session for the updated records
session.commit()

2018-08-18 16:24:32,654 INFO sqlalchemy.engine.base.Engine UPDATE "Adult" SET hours_per_week=? WHERE "Adult".id = ?
2018-08-18 16:24:32,656 INFO sqlalchemy.engine.base.Engine (50, 2)
2018-08-18 16:24:32,660 INFO sqlalchemy.engine.base.Engine UPDATE "Adult" SET capital_gain=? WHERE "Adult".id = ?
2018-08-18 16:24:32,661 INFO sqlalchemy.engine.base.Engine (200, 4)
2018-08-18 16:24:32,663 INFO sqlalchemy.engine.base.Engine COMMIT

In [10]:
#query agin to check for the updated

person_with_income_greater_50k = session.query(Adult).filter_by(income='>50K').one()
print(person_with_income_greater_50k)

2018-08-18 16:24:33,215 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-08-18 16:24:33,219 INFO sqlalchemy.engine.base.Engine SELECT "Adult".id AS "Adult_id", "Adult".age AS "Adult_age", "Adult".workclass AS "Adult_workclass", "Adult".fnlwgt AS "Adult_fnlwgt", "Adult".education AS "Adult_education", "Adult".education_num AS "Adult_education_num", "Adult".marital_status AS "Adult_marital_status", "Adult".occupation AS "Adult_occupation", "Adult".relationship AS "Adult_relationship", "Adult".race AS "Adult_race", "Adult".sex AS "Adult_sex", "Adult".capital_gain AS "Adult_capital_gain", "Adult".capital_loss AS "Adult_capital_loss", "Adult".hours_per_week AS "Adult_hours_per_week", "Adult".native_country AS "Adult_native_country", "Adult".income AS "Adult_income"
FROM "Adult"
WHERE "Adult".income = ?
2018-08-18 16:24:33,220 INFO sqlalchemy.engine.base.Engine ('>50K',)
<Adult(age='52', workclass='Self-emp-not-inc', fnlwgt='209642, education='HS-grad', education_num='9', marital_status='Husband', occupation='Exec-managerial', relationship='Married-civ-spouse' race='White', sex='Male', capital_gain='200', capital_loss='0', hours_per_week='45', native_country='United-States', income='>50K')>

In [11]:
person_with_fnlwgt_83311=session.query(Adult).filter_by(fnlwgt='83311').one()
print(person_with_fnlwgt_83311)

2018-08-18 16:24:33,826 INFO sqlalchemy.engine.base.Engine SELECT "Adult".id AS "Adult_id", "Adult".age AS "Adult_age", "Adult".workclass AS "Adult_workclass", "Adult".fnlwgt AS "Adult_fnlwgt", "Adult".education AS "Adult_education", "Adult".education_num AS "Adult_education_num", "Adult".marital_status AS "Adult_marital_status", "Adult".occupation AS "Adult_occupation", "Adult".relationship AS "Adult_relationship", "Adult".race AS "Adult_race", "Adult".sex AS "Adult_sex", "Adult".capital_gain AS "Adult_capital_gain", "Adult".capital_loss AS "Adult_capital_loss", "Adult".hours_per_week AS "Adult_hours_per_week", "Adult".native_country AS "Adult_native_country", "Adult".income AS "Adult_income"
FROM "Adult"
WHERE "Adult".fnlwgt = ?
2018-08-18 16:24:33,830 INFO sqlalchemy.engine.base.Engine ('83311',)
<Adult(age='50', workclass='Self-emp-not-inc', fnlwgt='83311, education='Bachelors', education_num='13', marital_status='Husband', occupation='Exec-managerial', relationship='Married-civ-spouse' race='White', sex='Male', capital_gain='0', capital_loss='0', hours_per_week='50', native_country='United-States', income='<=50K')>

# 4 Write two function queries

In [12]:
# Function query
session.query(Adult.occupation, func.count(Adult.occupation)).group_by(Adult.occupation).all()

2018-08-18 16:24:38,311 INFO sqlalchemy.engine.base.Engine SELECT "Adult".occupation AS "Adult_occupation", count("Adult".occupation) AS count_1
FROM "Adult" GROUP BY "Adult".occupation
2018-08-18 16:24:38,313 INFO sqlalchemy.engine.base.Engine ()

[('Adm-clerical', 2), ('Exec-managerial', 2), ('Handlers-cleaners', 1)]

In [13]:
session.query(Adult.sex, func.count(Adult.sex)).group_by(Adult.sex).all()

2018-08-18 16:24:39,108 INFO sqlalchemy.engine.base.Engine SELECT "Adult".sex AS "Adult_sex", count("Adult".sex) AS count_1
FROM "Adult" GROUP BY "Adult".sex
2018-08-18 16:24:39,110 INFO sqlalchemy.engine.base.Engine ()

[('Female', 1), ('Male', 4)]

# 5 Write two delete queries

In [14]:
session.delete(person_with_income_greater_50k)
session.delete(person_with_fnlwgt_83311)

# Commit the session
session.commit()

2018-08-18 16:24:40,675 INFO sqlalchemy.engine.base.Engine DELETE FROM "Adult" WHERE "Adult".id = ?
2018-08-18 16:24:40,676 INFO sqlalchemy.engine.base.Engine ((2,), (4,))
2018-08-18 16:24:40,680 INFO sqlalchemy.engine.base.Engine COMMIT